body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #eeeeee;
}

main {
  flex: 1 0 auto;
  margin: 2%;
}
.nav-container{
  width: 800px;
  margin: auto;
}
.container{
  max-width: 700px;
  padding-top: 35px;
  
}
.dropdown {
  display: inline-block;
}

p{
  color: #444444;
}
#gmap_canvas2 {
  border: 0;
}

.page-footer .transparentBg {
  background-color: transparent;
  justify-content: center;
}

.input-field>label {
  font-size: 1.1rem;
}

footer span {
      margin-right: 2%;
}

footer a {
     margin-left: 2%; 
}