body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #eeeeee;
}

main {
  flex: 1 0 auto;
  margin: 2%;
}

.dropdown {
  display: inline-block;
}

#gmap_canvas2 {
  border: 0;
}

.page-footer .transparentBg {
  background-color: transparent;
  justify-content: center;
}

.input-field>label {
  font-size: 1.1rem;
}

footer span {
      margin-right: 2%;
}

footer a {
     margin-left: 2%; 
}